.sidebar ul {
    list-style: none;
    padding: 0;
}

.tab-content ul {
    list-style: none;
    padding: 0;
}

.vehicle-detail h1{
    margin-top: 0px;
}

#detail-stats{
    text-align: center;
}

#main {
    padding-top: 70px;
}

