<div class="row">
    <div id="detail-mileage" class="well col-sm-3">
        <h4>Mileage</h4>
        <p><%= mileage %></p>
    </div>
    <div id="detail-fuelcost" class="well col-sm-3">
        <h4>Total Fuel Cost</h4>
        <p><%= fuelcost %></p>
    </div>
    <div id="detail-maintcost" class="well col-sm-3">
        <h4>Total Maintenance Cost</h4>
        <p><%= maintcost %></p>
    </div>
    <div id="detail-totalcost" class="well col-sm-3">
        <h4>Total Operation Cost</h4>
        <p><%= totalcost %></p>
    </div>
</div>
