<label>Date</label><input type="text" id="date" name="date" value="<%= date %>"/>
<input type="radio" id="scheduled" name="scheduled" value="scheduled"/><label>Scheduled</label>
<input type="radio" id="scheduled" name="scheduled" value="<unscheduled"/><label>Uncheduled</label>
<label>Vendor</label><input type="text" id="vendor" name="vendor" value="<%= vendor %>"/>
<label>Cost</label><input type="text" id="cost" name="cost" value="<%= cost %>"/>
<label>Notes</label><input type="textarea" id="notes" name="notes" value="<%= notes %>"/>

<button class="savemaintenance">Save</button>
<button class="deletemaintenance">Delete</button>
