<form class="vehicle-detail form-inline" role="form">
    <div class="form-group">
            <input type="text" class="form-control" placeholder="Year" id="year" name="year" value="<%= year %>"/>
    </div>
    <div class="form-group">
            <input type="text" class="form-control" placeholder="Make" id="make" name="make" value="<%= make %>"/>
    </div>
    <div class="form-group">
            <input type="text" class="form-control" placeholder="Model" id="model" name="model" value="<%= model %>"/>
    </div>
    <div class="form-group">
            <input type="text" class="form-control" placeholder="Color" id="color" name="color" value="<%= color %>"/>
    </div>
</form>
<form class="form-inline">
    <div class="form-group">
            <input type="text" class="form-control" placeholder="State" id="state" name="state" value="<%= state %>"/>
    </div>
    <div class="form-group">
            <input type="text" class="form-control" placeholder="Plate" id="plate" name="plate" value="<%= plate %>"/>
    </div>
    <div class="form-group">
            <input type="text" class="form-control" placeholder="VIN" id="vin" name="vin" value="<%= vin %>"/>
    </div>
    <button class="btn btn-primary save">Save</button>
    <button class="btn btn-primary delete">Delete</button>
</form>
