<h1><%= make %> <%= model %></h1>
<button type="button" class="close">Close</button>

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#details-tab" data-toggle="tab" class="detail-tab">Details</a></li>
    <li><a href="#fuel-tab" data-toggle="tab" class="fuel-tab">Fuel</a></li>
    <li><a href="#maintenance-tab" data-toggle="tab" class="maintenance-tab">Maintenance</a></li>
</ul>
<div id="tab-contents" class="tab-content">
    <div class="tab-pane active" id="details-tab">
        <h3>Details</h3>
        <div id="details">        
            <form class="vehicle-detail form-inline" role="form">
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Year" id="year" name="year" value="<%= year %>"/>
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Make" id="make" name="make" value="<%= make %>"/>
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Model" id="model" name="model" value="<%= model %>"/>
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Color" id="color" name="color" value="<%= color %>"/>
                </div>
            </form>
            <form class="form-inline">
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="State" id="state" name="state" value="<%= state %>"/>
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Plate" id="plate" name="plate" value="<%= plate %>"/>
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="VIN" id="vin" name="vin" value="<%= vin %>"/>
                </div>
                <button class="btn btn-primary save">Save</button>
                <button class="btn btn-primary delete">Delete</button>
            </form>
        </div>
        <div id="detail-stats"></div>
        <div class="row">
            <div id="detail-mileage-chart" class="col-md-6">
                <h4>Fuel Economy</h4>
                <canvas id="mileage-chart"></canvas>
            </div>
            <div id="detail-maintenance-chart" class="col-md-6">
                <h4>Maintenance Costs</h4>
                <canvas id="maintenance-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="fuel-tab">
        <h3>Fuel</h3>
        <div id="fuel"></div>
    </div>
    <div class="tab-pane" id='maintenance-tab'>
        <h3>Maintenance</h3>
        <div id="maintenance"></div>
    </div>
</div>
