<h1><%= make %> <%= model %></h1>
<button type="button" class="close">Close</button>

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#details-tab" data-toggle="tab" class="detail-tab">Details</a></li>
    <li><a href="#fuel-tab" data-toggle="tab" class="fuel-tab">Fuel</a></li>
    <li><a href="#maintenance-tab" data-toggle="tab" class="maintenance-tab">Maintenance</a></li>
</ul>
<div id="tab-contents" class="tab-content">
    <div class="tab-pane active" id="details-tab">
        <h3>Details</h3>

        <div class="vehicle-detail form-group">
            <label class="control-label">Year</label><input type="text" class="form-control" id="year" name="year" value="<%= year %>"/>
            <label class="control-label">Make</label><input type="text" class="form-control" id="make" name="make" value="<%= make %>"/>
            <label class="control-label">Model</label><input type="text" class="form-control" id="model" name="model" value="<%= model %>"/>
            <label class="control-label">Color</label><input type="text" class="form-control" id="color" name="color" value="<%= color %>"/>
            <label class="control-label">State</label><input type="text" class="form-control" id="state" name="state" value="<%= state %>"/>
            <label class="control-label">Plate</label><input type="text" class="form-control" id="plate" name="plate" value="<%= plate %>"/>
            <label class="control-label">Vin</label><input type="text" class="form-control" id="vin" name="vin" value="<%= vin %>"/>
            <button class="save">Save</button>
            <button class="delete">Delete</button>
        </div>
        <div id="detail-stats"></div>
    </div>
    <div class="tab-pane" id="fuel-tab">
        <h3>Fuel</h3>
        <div id="fuel"></div>
    </div>
    <div class="tab-pane" id='maintenance-tab'>
        <h3>Maintenance</h3>
        <div id="maintenance"></div>
    </div>
</div>
